{% extends 'base.html' %}
{% block style %}
    
{% endblock style %}
{% block content %}
    <div class="conatainer"></div>
    <h3>환영합니다!</h3>
    <h2>글귀 목록</h2>

    <a href="{{ url_for('main.create_post')}}">
        <button type="button" class="btn_post">
            글귀 작성하기
        </button>
    </a>

    {% if post_list %}
    <div class="post_container">
        {% for post in post_list %}
        <a href="{{ url_for('main.post_detail', post_id=post.id)}}">
            <div class="post">
                <h2 class="title">{{post.title}}</h2>
                <p class="text">{{post.content[:50]}}</p>
                <p class="date">{{post.created_at}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="blank">
        <p>보여줄 글이 없어요.<br>첫 글을 작성해 보세요!</p>
    </div>
{% endif %}


{% endblock content %}

