{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock style %}
{% block content %}
    <h3>환영합니다!</h3>
    <h2>글귀 목록</h2>

    <a href="{{ url_for('main.create_post')}}">
        <button type="button" class="btn btn-primary">
            글귀 작성하기
        </button>
    </a>

    {% if post_list %}
    <div class="post_container">
        {% for post in post_list %}
        <div class="post"><a href="{{ url_for('main.post_detail', post_id=post.id)}}">
                <h2 class="title">{{post.title}}</h2>
                <p class="date">{{post.created_at}}</p>
                <p class="text">{{post.content|slice(100)}}</p>
            </a></div>
        {% endfor %}
    </div>
    {% else %}
    <div class="blank">
        <p>보여줄 글이 없어요.<br>첫 글을 작성해 보세요!</p>
    </div>
{% endif %}


{% endblock content %}

